<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head th:include="common/common_head::commonHeader"></head>

<body>

<div th:include="common/common_navigation :: commonNavigation"></div>
	<div class="container am-g">
		<div class="am-g">
			<div class="am-u-sm-6 am-u-lg-centered">
				<h3>联系 我</h3>
				<hr>
				<p>欢迎随时与我交流，发一封邮件给我吧！</p>
			</div>
		</div>
		<div class="am-g">
			<div class="am-u-sm-6 am-u-lg-centered">
				<form id="contact_form" class="am-form">
				  <div class="form-group">
				    <input type="name" class="form-control" id="name" name="name" required placeholder="您的名称..">
				    <br>
				  </div>
				  <div class="form-group">
				    <input type="email" class="form-control" id="email" name="email" required placeholder="您的邮箱..">
				    <br>
				  </div>
				  <div class="form-group">
				    <input type="text" class="form-control" id="subject" name="subject" required placeholder="标题">
				    <br>
				  </div>
				  <textarea class="form-control" rows="6" placeholder="给我留言吧.." required name="messageContent" id="messageContent"></textarea>
				    <br>
				  <button type="button" class="am-btn am-btn-secondary">提交</button>
				</form>

				<div>
					<!--PC版-->
					<div id="SOHUCS" sid="contactid"></div>
					<script charset="utf-8" type="text/javascript" src="https://cy-cdn.kuaizhan.com/upload/changyan.js" ></script>
					<script type="text/javascript">
						window.changyan.api.config({
							appid: 'cyszofw6F',
							conf: 'prod_8feb398ac3476591ec083a3c7120e92f'
						});
					</script>
				</div>
            </div>
		</div>
	</div>
<div th:include="common/common_footer :: commonFooter"></div>
</body>
<div th:include="common/common_onload :: onLoadJs"></div>
<script type="text/javascript"  th:inline="javascript">
	$("button").click(function(){
		if(!$('#contact_form').valid()){
			return false;
		}
		var url = getRootPath_dc() + "contact/sendMail";
		var name = $('#name').val();
		var email = $('#email').val();
		var subject = $('#subject').val();
		var messageContent = $('#messageContent').val();
		$.ajax({
			type: "pos"
		})
		$.ajax({
			type : "POST",
			url : url,
			contentType: "application/json;charset=UTF-8",
			data : JSON.stringify({
				"name": name,
				"email": email,
				"subject": subject,
				"messageContent": messageContent
			}),
			success : function(result) {
				if(result == 'success'){
					alert("提交成功！");
					window.location.href=getRootPath_dc()+"/index"
				}else{
					alert("留言失败，请联系博客管理员。");
				}
			}
		});
	});

	function getRootPath_dc() {
		return window.location.protocol + '//' + window.location.host+"/";
	}
</script>
</html>
